body{
    background-color: #cdf7d6;
    text-align: center;
    padding-top: 300px;
}

button{
    width: 220px;
    border-radius: 20px;
    margin-top: 90px;
}

input{
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 250px;
}